<h2>Products</h2>
<div id="products">
  <% @products.each do |product| %>
    <section class="product">
      <%= render product %>
      <%= button_to "Show Product", product, method: :get %>
    </section>
  <% end %>
</div>

