<h1> welcome </h1>
<p>userid: <%= @userid %></p>
<p>password: <%= @password %></p>
<a href="/access/login">login</a><br>
<%= link_to "login", access_login_path %><br />
<a href="/access/logout">logout</a>
