<html>
  <head>
    <title>CSEN 146 Bank</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <header>
      <img src="https://placekitten.com/100/100" alt="CSEN 146 bank logo">
      <h1>CSEN 146 Bank</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/deposit">Deposit</a></li>
          <li><a href="/withdraw">Withdraw</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>&copy; 2024 CSEN 146 Bank</p>
    </footer>
  </body>
</html>
