@import "variables";

main {
  padding: 20px;

  .container {
    max-width: 600px;
    margin: 20px auto;
  }

  form {
    width: 100%;

    label {
      font-weight: 700;
    }

    input,
    label,
    textarea,
    button {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }

    .selections {
      display: flex;

      .input {
        margin-right: 30px;

        &:last-of-type {
          margin-right: 0;
        }

        select {
          height: 28px;
        }

        #product_price {
          max-width: 100px;
        }
      }
    }

    textarea {
      height: 150px;
    }

    input[type="checkbox"],
    input[type="radio"] {
      display: inline-block;
      margin-right: 5px;
      width: auto;
    }

    .input {
      margin-bottom: 10px;
    }

    button,
    input[type="submit"] {
      margin-top: 20px;
    }
  }

  p.notice {
    background: $green;
  }

  p.alert {
    background: $red;
  }

  p.notice,
  p.alert {
    color: $white;
    text-align: center;
    margin: 10px 0 30px;
    padding: 10px 0;
    border-radius: 5px;
    font-weight: 700;
  }

  .account {
    .selections {
      justify-content: space-between;

      .input {
        width: 50%;
      }
    }
  }
}
