<div id="<%= dom_id student %>">
  <p>
    <strong>Firstname:</strong>
    <%= student.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

</div>
