<!-- views/new_book.erb -->

<form method="post" action="/books">
  <label for="title">Book Title:</label>
  <input type="text" id="title" name="book[title]">
  <label for="author">Author:</label>
  <input type="text" id="author" name="book[author]">
  <label for="year">Year published:</label>
  <input type="text" id="year" name="book[year]">
  <label for="description">Book description:</label>
  <input type="text" id="description" name="book[description]">
  <button type="submit">Add Book</button>
</form>
