<%# <h1>NewAccess#login</h1> %>
<%# <p>Find me in app/views/new_access/login.html.erb</p> %>
<% if flash[:notice] %>
<h2> <%= flash[:notice] %></h2>
<% end %>
<h1>please login</h1>
<form action='/new_access/authenticate' method="getx">
  <input type="text" name="userid"><br>
  <input type="password" name="password"><br>
  <input type="submit" value="login">
</form>
