<h1> welcome </h1>
userid: <%= @userid %><br>
password: <%= @password %><br>
<a href="/new_access/login">login</a><br>
<%= link_to "login", new_access_login_path %><br>

<a href="/new_access/logout">logout</a>
