<h2>Welcome to Frank Sinatra's gambling site</h2>
<ul>
  <li>
    <a href="login?action=login">Login</a> to play
  </li>
  <li>
    <a href="login?action=signup">Signup</a> to create account
  </li>
</ul>
