.product {
  max-width: 600px;
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;

  img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 6px;
  }

  .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
